:root {
  --mar: 15px;
  --buttonH: 105px;
  --font: 14px;
}

html, body{
  height: 100%;
  margin: 0;
}

body, a, input, select, button, h1 {
  color: #EA3223;
  font-family: 'Suisse-Intl-Mono';
  font-size: var(--font);
  font-weight: normal;
  
}

body {
  height: 100%;
}

h1 {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: var(--mar) 0 0 0;
}

section {
  margin: 0 var(--mar);
}

#bottom {
  margin-bottom: var(--mar);
  width: calc(100% - 2 * var(--mar));
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  flex: 0 1 0px;
}


a {
  text-decoration: none;
}

#bottom a, #bottom .link {
  margin-top: var(--mar);
  display: block;
}

button {
  width: 100%;
  background: white;
  border: none;
  box-shadow: 5px 5px 6px 0px #e5e5e5;
  height: var(--buttonH);
  margin-top: var(--mar);
  text-transform: uppercase;
}

button:hover {
  box-shadow: 0px 0px 6px 6px #e5e5e5;
}


select, input {
  padding: var(--mar);
  margin-bottom: var(--mar);
  width: calc(100% - 2 * var(--mar));
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  border-radius: 0;
  border: none;
  -webkit-box-shadow:inset 3px 3px 5px 2px #e5e5e5;
     -moz-box-shadow:inset 3px 3px 5px 2px #e5e5e5;
          box-shadow:inset 3px 3px 5px 2px #e5e5e5;
  background: transparent;
}

input:last-child {
  margin-bottom: 0;
}

::placeholder {
  color: #EA3223;
  opacity: 1;
}

:-ms-input-placeholder { 
  color: #EA3223;
}

::-ms-input-placeholder { 
  color: #EA3223;
}

#info {
  flex: 1 1 auto;
  overflow-y: scroll;
}

#form {
  flex: 1 1 auto;
  margin: var(--mar);
}

.filler {
  display: flex;
  flex-flow: column;
  height: 100%;
}

#log {
  flex: 1 1 auto;
  overflow-y: scroll;
  margin: var(--mar);
}

.ts {
  display: block;
}

.direct {
  padding: var(--mar) 0;
}
.direct:first-child {
  padding-top: 0;
}

@font-face {
  font-family: 'Suisse-Intl-Mono';
  src: url('fonts/SuisseIntlMono-Regular-WebS.woff') format('woff'),
       url('fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2');
}

.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


/* TABLET */
@media only screen and (min-device-width: 768px) {
  #log {
    overflow-y: hidden;
  }
  .column {
    width: calc(50% - var(--mar) * 2);
    height: 100%;
  }

  #columns {
    flex-direction: row;
  }
  #left-column {
    float: left;
  }

  #right-column {
    float: right;
    overflow: scroll;
  }
  :root {
    --mar: 25px;
    --buttonH: 210px;
  }

}

@media only screen and (min-device-width: 1199px) {


  button {
    width: calc(50% - var(--mar) * 2);
  }
}